body {
    background-color: black;
    color:white;
}

#button {
    margin-left:40%;
    margin-top:27%;
}

#continueButton {
    margin-left:90%;
}

#demo {
    margin-top: 1%;
    border:solid 1px;
    border-color: grey;
    font-size: 30px;

}

.dirtyNeckbeard
 {
    margin-top: 1%;
    border: solid;
    border-color: grey 10px;
}

