Body {
    font-family: 'Press Start 2P', cursive;
    margin-top: 10%;
    margin-left:50%;
    color: white;
    text-shadow: 3px 2px black;
    background-image: url(https://orig00.deviantart.net/d0d7/f/2016/227/a/a/bedroom_pixel_by_watashi_sensei-dae1jkt.gif)
}

